* {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;

}

.header {
    margin-top: 0;
    padding: 2%;
    background-color: rgb(0, 0, 0);
}

.upHeader {
    padding: 2%;
    background-color: #2d4059;
    display: flex;
}

.upLeftHeader {
    background-color:#ea5455;
    width: 12%;
    height: 30px;
}

.upCenterHeader {
    background-color: #ea5455;
    width: 84%;
    margin-left: 2%;
    height: 30px;
}

.upRigthHeader {
    background-color: #ea5455;
    width: 12%;
    margin-left: 2%;
    height: 30px;
}

.downHeader {
    margin-top: 1%;
    padding: 2%;
    background-color: #f07b3f;
}

.downHeaderLine {
    background-color:#fed460;
    height: 30px;
}

.blockContainer {
    padding: 2%;
    background-color: black;
    margin-top: 2%;
    display: flex;
}

.leftBlock {
    background-color:  #4e4e6a;
    padding: 2%;
    width: 73%;
    display: inline-block;
}

.rigthBlock {
    background-color: #f73f52;
    padding: 2%;
    width: 25%;
    margin-left: 2%;
}

.leftupContainer {
    display: flex;
}

.upLeftLineOne {
    display: flex;
    background-color: rgb(111, 117, 183);
    width: 48%;
    height: 30px;
}

.upLeftLineTwo {
    background-color: rgb(111, 117, 183);
    width: 48%;
    height: 30px;
    margin-left: 4%;
}

.leftCenterContainer {
    display: flex;
    margin-top: 2%;
    ;
}

.blockCenterLineOne {
    background-color: rgb(111, 117, 183);
    width: 48%;
    height: 30px;
}

.blockCenterLineTwo {
    background-color: rgb(111, 117, 183);
    width: 48%;
    height: 30px;
    margin-left: 4%;
}

.blockDownLine {
    background-color: #70a3c4;
    height: 30px;
    margin-top: 2%;
}

.rigthBlockLineUp {
    background-color:  #feea85;
    height: 25px;

}

.rigthBlockLineDown {
    margin-top: 4%;
    background-color:  #feea85;
    height: 25px;

}

.footer {
    margin-top: 2%;
    ;
    background-color: black;
    padding: 2%;
}

.footerLine {
    background-color: rgb(255, 145, 0);
    height: 30px;
}

@media screen and (max-width: 820px) {

    .blockContainer{
        display: block;
        background-color:  #feff03;
    }
    .leftBlock{
        width: 92%;
        margin-bottom: 2%;
        padding: 4%;
    }
    .rigthBlock{
        width: 96%;
        margin-left: 0;
    }
    .rigthBlockLineDown{
        margin-top: 2%;
    }

}

@media screen and (max-width: 576px) {

    .upHeader{
        display: block;
        margin-bottom: 4%;
        padding: 4%;
        
    }
    .upLeftHeader, .upCenterHeader, .upRigthHeader{
        width: 90%;
        margin-left: 5%;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .upLeftHeader, .upCenterHeader{
        margin-bottom: 6%;
    }
    .downHeader{
        padding: 4%;
    }
    .downHeaderLine{
        width: 90%;
    }
    .leftupContainer, .leftCenterContainer{
        display: block;
    }
    .upLeftLineOne, .upLeftLineTwo, .blockCenterLineOne, .blockCenterLineTwo{
        width: 90%;
        margin-left: 5%;
        margin-bottom: 8%;
        background-color: rgb(98 149 156);
    }
    .upLeftLineOne{
        margin-top: 2%;
    }

    .leftBlock{
        background-color: #09506f;
    }
    .blockDownLine{
        background-color: #a3ddcb;
        width: 90%;
        margin-bottom: 2%;
    }
    .rigthBlockLineDown{
        margin-top: 4%;
        background-color: #fdb36b;
    }
    .rigthBlockLineUp{
        background-color: #fdb36b;
    }
    .blockContainer, .footer, .header{
        padding: 6%;
    }
    .rigthBlock{
        padding: 4%;
        width: 92%;
        background-color: #fd7b54;
        margin-bottom: 4%;
    }
    .rigthBlockLineUp, .rigthBlockLineDown{
        width: 90%;
        background-color: #fdb36b;
        margin-top: 2%;
    }
    .rigthBlockLineUp{
        margin-bottom: 4%;
    }
    .rigthBlockLineDown{
        margin-top: 2%;
        margin-bottom: 4%;
    }
    .footer{
        padding: 6%;
    }
    .footerLine{
        width: 100%;
        background-color: rgb(253 199 100);
    }


}
